@import "tailwindcss";

/* general theme */

@theme {
  --font-inter: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}



@utility font-synthesis {
  font-synthesis: none;
}

@utility text-rendering {
  text-rendering: optimizeLegibility;
}

@layer base {
  html {
    @apply font-inter font-synthesis text-rendering antialiased;
  }

  body {
    @apply min-w-xs flex min-h-screen place-content-center;
  }

  #root {
    @apply flex flex-grow;
  }

 :root {
    --color-background: oklch(0.98 0 0);
    --color-text: oklch(0.18 0 0);
  }

  .dark {
    --color-background: oklch(0.15 0 0);
    --color-text: oklch(0.98 0 0);
  }
}
